@import "tailwindcss";

@layer base {
  html,
  body,
  :root {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white px-4 py-2 rounded-md;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme {
  --color-primary: #B1ECFF;
  --color-secondary: #fff;
  --color-tertiary: #000;
}

.container {
  @apply mx-auto w-[1280px] max-w-full;
}

@media (max-width: 768px) {
  .container {
    @apply px-5 w-full;
  }
}